.templateWrap
  // Header for the entire page
  section.section
    h1.header iQuestion
  
  section.section
    div.diagram
      img.picGal.flexerWidth(src="../../assets/img/home/home_iquestion.png")

  section.section
    h2.header_2 Introduction
    
  section.section
    h2.header_3 Brief

  section.section
    p.par
      strong date:
      light April - July 2015
      <br><br>
      strong role:
      light Interaction Designer, User Researcher, Visual Designer, Prototyper
      <br><br>
      strong description:
      light  An application inspired by the Intelligence Amplification notion proposed by Vernor Vinge. iQuestion turns knowledge into an economy allowing users to contribute to a database of knowledge that other users can go to to learn. The full design process was used to create this, User Research, Case Studies, Usability Testing and a final prototype.

  section.section
    h2.header_3 Context
    
  section.section
    p.par This is my capstone project for my Masters of Design in Interaction Design at the Hong Kong Polytechnic University. It was an individual design project where we had to come up with a concept and go through the design process, including research and the final prototype. We had the entirety of the final semester to work on this individually.
    
  div.hero(style="background-image: url(../../assets/img/dp_iques/iquestion_hero.jpg)")
      
  section.section
    h2.header_2 Inspiration
    
  section.section
    h2.header_3 Intelligence Amplification
    
  section.section
    p.par Beginning with an interest in Artificial Intelligence and its place in the world of Interaction Design I was interested in the idea of making a project that was a commentary on the way we use our technology.
    
  section.section
    p.par My research into the implication of Artificial Intelligence, lead to a very interesting paper that I read by Vernor Vinge on “The coming Technological Singularity”. He came up with this idea of an alternative to AI he called IA (Intelligence Amplification). This was the improvement of our own intelligence by strengthening the way we communicate with computers and making it more seamless. In this way, we would be able to effectively “amplify” our intelligence, because the machines systems will become extensions of ourselves.

  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_iques/brainstorm.jpg")

  section.section
    h2.header_3 Query Applications
    
  section.section
    p.par I was intrigued with how we search for information we were interested in. How did we learn on the internet? What were the “search” habits of users and how did they go about to gain knowledge on the internet? Services like Quora and StackExchange provided a platform where users could go to seek knowledge. As a designer who codes, I have spent hours lurking on websites like these in search for answers.
    
  section.section
    p.par I based my research around learning about internet altruism and how people helped each other on the web.
    
  section.section
    h2.header_2 Process
    
  section.section
    h2.header_3 Research
    
  section.section
    p.par I began my research by having candid conversations with the people around me about Artificial Intelligence. I also consumed as much media as I could about AI and read papers written by futurists and scientists about the idea of the coming singularity.
    
  section.section
    p.par I learned a few key things from this:
    
  section.section
    ul.secList
      li
        span People do not trust responsibilities into computers and Artificial Intelligence.
      li 
        span People are fascinated by AI but still do not fully understand it
        
  section.section
    p.par During this preliminary investigation, I was also very curious as to how people treated their devices. One behavior, in particular, I was interested in was the personification of their devices.
    
  section.section
    p.par I approached the idea of doing a critical design of an object that would in a sense poke fun of the fact that it was just a machine. I noticed that people often personified their devices when frustrated with it, I wanted to give our smart devices something that would bring them closer to being human, and that was the imperfections of making mistakes and awareness. HAL9000 one of the most famous AI in Science Fiction culture was anthropomorphized by the simple fact that it made a mistake and was trying to cover it up. This was the premise of this idea.
    
  section.section
    p.par Eventually, I pulled away from this because I realized that I was becoming too focused on the technology of AI instead of the user.
    
  section.section
    p.par My research, lead me to Vernor Vinge and his paper “The coming Technological Singularity” and intelligence amplification. It was at this point I decided to create an app to allow users to exchange knowledge as currency.
    
  section.section
    h2.header_3 Methodology
    
  section.section
    p.par As part of my research I employed two methods to collect data to help inform my design.
    
  section.section
    ol.secListNum
      li
        span.ol Interviews
      li 
        span.ol Surveys
      
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_iques/ResearchFindings.png")
  
  section.section
    h2.header_3 Ideation
    
  section.section
    p.par I was doing my ideation while I was conducting research. In hindsight, this might have been a mistake because I started over a few times because of flawed reasoning. One of which was the realization that I was designing for a technological concept rather than the user.
    
  section.section
    p.par I came up with 4 ideas to explore. The combination of some of them gave birth to the iQuestion concept.
  
  section.section
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_iques/iquestion_WB.jpg")
  
  section.section
    ol.secListNum
      li
        span.ol A query application that pitted humans versus machines. You’d ask a question and there would be sort of a leaderboard of whether machines were better at providing solution or humans.
      li 
        span.ol An evolving query app where the machines learns the users answers and feeds it back to the users.
      li  
        span.ol Sassy Translator would have been a translator that injects sarcastic humor into its responses. This was a critical design idea. I followed this thread for a while.
      li  
        span.ol Global translator would have been a query based application that connected people with the required linguistic knowledge together.
  
  section.section      
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_iques/smartass.jpg")

  section.section
    p.par Stepping back, the initial concepts of iQuestion jumped out to me. The fundamental interaction between users and a machine often began with a question. I honed in on this idea.
    
  section.section
    h2.header_3 Obstacles
    
  section.section
    p.par This project was rife with obstacles. Most of which were encountered and overcome during the design process of iQuestion. At the start, the very premise of the project was flawed because I approached it with Artificial Intelligence in mind. I learned that AI was more of an engineering term and not something that I could treat as a “feature” of an application I was meant to design and prototype.
    
  section.section
    h3.quote once something becomes useful enough and common enough it’s not labeled AI anymore
    h2.header_4.middle - Nick Bostrom -
    
  section.section
    p.par As an advocate for user-centric design and empathetic design philosophy, I suddenly realized that I needed to take a huge step back from my project and re-evaluate the problem that I was trying to solve from a human focused approach. Instead of focusing on the technology, I should have been focused more on the user.
    
  section.section
    h3.quote "Intelligence Amplification instead <br> of Artificial Intelligence"
    
  section.section
    p.par Intelligence Amplification was a more user-centric approach to my design. I powered forward with this idea.
  
  section.section  
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_iques/iquestion_WB_2.jpg")

  #end

  section.section
    h2.header_2 Design
    p.par
      strong Question:
      light What if there is a way to connect users together so that relying on “googling” something was a last resort? Let me ask a friend.
      <br><br>
      strong Specifications:
      
  section.section
    ul.secList
      li
        span Allow users to ask specific questions and allow a system to select popular answers to give back to the user. The popularity of the answer is determined by a voting system.
      li 
        span If there are no responses, users fall back on google.
      li  
        span Create separate domains to give incentive for users to utilise the application. i.e. “I want to know more about technology, let me download ‘iQuestion:tech’.”
      li  
        span Gamify the experience in the form of a reputation system.
      li  
        span The app must be simple and almost forum like, to create a connected community.

  section.section  
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_iques/logos_font.png")
      
  section.section
    h2.header_3 Iterations
    
  section.section
    p.par The application went through several iterations. I performed usability tests at different stages and modified the interface based on feedback from users.

  section.section    
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_iques/iteration2.png")
      
  section.section
    p.par The final prototype was a result of several iterations and modifications. I used Adobe Illustrator to create all the screens. I then used the online application inVision to make my prototype interactive.
  
  section.section  
    div.diagram
      img.picLong(src="../../assets/img/dp_iques/screens.jpg")

  section.section
    p.par I experimented with coding a web application with a database, but with the limited time and my limited backend web development background this wasn’t feasible at the time. I was very happy with the inVision prototype and it was enough for me to get user feedback for my application.
    
  section.section
    p.par For the final presentation, I created walkthrough video with a voice over to explain my concept.
  
  
  <iframe class="iques_frame" src="https://player.vimeo.com/video/150766611?color=ff9933&title=0" width="980" height="552" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  section.section
    h2.header_2 Reflection and Learnings
    
  section.section
    h2.header_3 Challenges:
    
  section.section
    ul.secList.snug
      li
        span Designing in the context of a team is fundemental for successful projects. There are several moving parts and skill required in a project, from the research to the prototyping to the testing. Even setting project statements and specifications is a role on its own. Up until this point I worked with other people, making sure that everyone on the team had a diverse skill set to bring to the project. Doing this project individually I had to do tasks that I normally would have relied on someone else for. I learned a lot because of this.
      li 
        span I learned the importance of ensuring you approach a design problem from a user centric point of view as opposed to a facination for a certain technology. It's ok to be inspired by a technology to create something, but as an empathetic designer, you should always try to posistion yourself to design for the user.

  section.section
    h2.header_3 Final Notes:
    
  section.section
    p.par I learned a great deal in the process of this project but I have since then grown as a designer and plan to revisit this project and perhaps go through with building a functional prototype. 
    
  <iframe width="396" height="858" src="//invis.io/5T3H300VW" frameborder="0" allowfullscreen></iframe>
