div.dp_title
  h1.text_title iQuestion

div.dp_hero

div.dp_container
  div.dp_desc
    h2.desc_text_title Introduction
    h2.text_subtitle Brief
    p.text
      strong date:
      light April - July 2015
      <br><br>
      strong role:
      light Interaction Designer, User Researcher, Visual Designer, Prototyper
      <br><br>
      strong description:
      light  An application inspired by the Intelligence Amplification notion proposed by Vernor Vinge. iQuestion turns knowledge into an economy allowing users to contribute to a database of knowledge that other users can go to to learn. The full design process was used to create this, User Research, Case Studies, Usability Testing and a final prototype.
    

  <iframe width="396" height="858" src="//invis.io/5T3H300VW" frameborder="0" allowfullscreen></iframe>

  <iframe src="https://player.vimeo.com/video/150762936?color=ff9933&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  
  div.dp_par
    h2.text_subtitle Context
    p.text This is my capstone project for my Masters of Design in Interaction Design at the Hong Kong Polytechnic University. It was an individual design project where we had to come up with a concept and go through the design process, including research and the final prototype. We had the entirety of the final semester to work on this individually.
    
  div.dp_par
    h2.text_subtitle Artificial Intelligence Beginnings
    p.text 	Beginning with an interest in Artificial Intelligence and its place in the world of Interaction Design I was interested in the idea of making a project that was a commentary on the way we use our technology. I was primarily interested at first at the way computers connect to each other. I wanted to improve our interactions with our devices so that we could communicate in a more personal level with them. From the papers I read and the discussions I had with various people, along with preliminary research into popular culture I got the feeling that people were actually slightly apprehensive when it came to fully accepting the idea of our devices having minds of their own. This led me to become more interested in actually creating something more critical that would be able to cause people to question their thoughts. My research into the actual implications of AI lead me to a very interesting paper that I read by Vernor Vinge on “The coming Technological Singularity”. He came up with this idea of an alternative to AI he called IA (Intelligence Amplification). This was the improvement of our own intelligence by strengthening the way we communicate with computers and making it more seamless. In this way we would be able to effectively “amplify” our intelligence, because the machines systems will become extensions of ourselves. This was a significant point in my project because until now I needed a point of connection to the users. My project needed to be more user focused.
    
    p.text The design problem that I intended to address was not a problem in the traditional sense but more of a problem with the way we thought about the devices we used. I wanted people to question their reliance on technology and to draw attention to the way we interacted with each other and technology. I was interested in either humanising the machines we live so close to by giving them human like traits or connecting users with the devices through the machines.
    
    p.text After several concepts and ideas i settled on the idea of connecting users with each other in the simplest manner and creating a platform where users can exchange information and the system will have an intuitive sorting functions to arrange answers to where the user can receive answers that they are looking for. The system effectively will become smarter the more users use it. It would be a dynamic information access point that is populated by user submitted content.
    
    p.text The iQuestion solution addresses Intelligence Amplification, because it tried to bring the alternative that takes away from the innate fear of the rise of AI but making ourselves smarter through the use of technology. I noticed that most of the interactions with perceived artificial technology involved asking the machine questions. In fact, the Turing Test, which was use to determine the intelligence of computers was entirely based on asking the computer questions. This inspired me to use questions as a basis for my project.
    
    p.text iQuestion is a simple application that serves as a platform where users submit answers to earn the right to ask the system questions. Every question in the system is there because a response was turned in. The flow of information actually forms some sort of economy where the currency is the user submitted queries and responses.
  
  div.dp_par
    h2.text_subtitle Problem Formulation and Background
    p.text 	These preliminary readings and research served as a primer to get me thinking along the lines that i intended to. I wanted my project to stem from an interest i had in AI and its place in interaction design.
    
    p.text I read a few papers about AI and watched a few movies that had AI personalities in them. I also spoke with people in general about AI and below i have listed two key thoughts i realised after preliminary research.
    
    p.text
      ul
        li People do not trust responsibilities into computers and Artificial Intelligence.
        li People are fascinated by AI but still do not fully understand it
    
    div.dp_pics
      img.dp_img(src="../../assets/img/brainstorm.png")
      
    p.text During the brainstorm process for this design project i decided to centralise AI and Interaction. I began with thinking of the relationship between the both of them. I separated bother of the ways of thoughts in to human and machine thinking. From machines key words that interested me were the way computers were “learning” and the way they collected and sorted “data”, their “broad” applications and also the way scientists were trying to mimic the way humans thought in computers by creating a neural network. This actually let to my first idea the Sassy Translator which i will elaborate more on later.
    
    p.text 	On the other side i brainstormed on humans and the way they think and the traits that were specific to the way humans thought. I was “relative” and “contextual” and i was especially interested in the “crowd”. This idea of a large amount of people contributing to a system and creating a connection.
    
    p.text 	Combining these centralised ideas i arrived at the idea of Intelligence Amplification. The attempt to make humans smart by giving humans key feature that computers have by connecting them in a way that amplifies their thinking. All this using technology of course. I had several key words and conceptual ideas at this point. Combined knowledge refers to this idea of wiki culture or collective intelligence. I also connected it to my previous ideas of shared super ego and distributed cognition as i believed with the pervasiveness of computers and the ubiquity of connectivity in our devices we actually had a world where we extended our knowledge through our devices.
    
    p.text 	This eventually leads to “The Collective Brain”, which was a general idea i had of creating a hive mind of humans that learned from each other and worked seamlessly with both technology and the user.
    
    p.text 	Perhaps a new approach needs to be taken to further harmonise the interaction between humans and computers. There is potential in a relationship between humans and computers and with the pervasiveness of the technology there is a lot to be developed in the way we interact between each other through technology and with technology.
    
  div.dp_par
    h2.text_subtitle Personal Interviews
    p.text For the research of my project i decided to do interviews into the habits that people had for inquiring after information. I was interested in mainly their attitudes and thoughts on how they acquired information. I composed questions that had to do with the way the user looked for information and how much they went into the process compared to asking other people for answers. The personal interviews were important to have because this was an area i needed to get unique behaviours and responses about. It was important for me to learn about what the users were thinking when they were searching for information.
    
    p.text The second part of my research was the online survey. I published a survey and deployed it online on a forum that was specifically for exchanging surveys, i did this because i wanted to target a wider range of demographic to try and learn more about the habits of the user. This was simple but effective in giving me trends that i could use to inform my design.
    
    p.text Now I will outline the key findings from the research questions in both of my methods starting with the personal interviews.
    
    div.dp_pics
      img.dp_img(src="../../assets/img/Interview_1.png")
    
    p.text With this question I was interested in finding out how willing users were to ask people for help. I was actually interested to see their level of reliance on technology versus looking towards other people for help. With iQuestion it ensures that the person responding to you has at least a base level interest in your topic and will respond to you at least relevant information that you can use. For example you can download the iQuestion for gardening if that is what you are interested in and the other people who download the application will most likely be other people interested in gardening that might be able to fill in the gaps of some other users in terms of the knowledge for gardening.
    
    p.text This responder actually told me that they were interested in asking other people questions about information that they were interested in finding out, but they were afraid to come off as annoying and bothersome to the people who might not be knowledgeable on the subject. He actually told me that if he had access to someone who actually knew what they were doing he would ask immediately to take advantage of their knowledge. This was interesting to me because then i asked myself, how can i ensure a connection to people who were at least interested in the same topics so that they had at least a little knowledge in the area, enough to kill in the gaps where the user had no knowledge of the answer.
    
    div.dp_pics
      img.dp_img(src="../../assets/img/Interview_2.png")
      
    p.text With this question i was interested in finding out how active my interviewees were in the knowledge exchange aspect of the internet. There exist venues in the internet for exchanging information but i wanted to know how many users were actively using these to post queries. I knew there were several users who were “lurkers” but i needed to see how many of them were actually active in that they made accounts and posted queries and waited for responses.
    
    p.text This responder was actually quite funny in that she simply echoed what all my responders said but in a simple question. Many responders are actually unfamiliar with the concept of forums until i explained to them exactly what it was. This was interesting because some even knew what they were but identified themselves as lurkers who didn't make accounts but just read other peoples questions and answers. the general behaviour for my responders was to actually use a search engine to type in their question which will then return similar questions that were asked at a different time. This caused a problem because many times the responses were irrelevant or outdated because essentially they were looking through archived responses. The question that came out of this response was how can i make a system where users will be able to get relevant and clear information that was current and useful.
    
    div.dp_pics
      img.dp_img(src="../../assets/img/Interview_3.png")
      
    p.text This question was relatively simple because i was interested in finding out if i could expand the kind of topics i would be able to offer. I wanted to identify possible trends with the kind of topics people were interested in and what people were generally interested in. I knew at one point in the design process that i would have to narrow down the scope of the process to seperate the topics available. Because if i had one query application for all, then no one would use the application because it didn't relate to them because it related to everything. This question helped me learn about the different potential interest in topics that i might not have come up with. Some others included a responder who was interested in cooking. Another responder wanted to ask people questions about gardening. From this question i learned about the diverse amount of queries that people might have.
    
  div.dp_par
    h2.text_subtitle Online Surveys
    p.text I conducted the online survey with statements accompanied with a slider that the respondent would use to let me know how likely they were to think in that way. I made a conscious decision to make the scale have an even number so that they would have be forced to be negative or positive. I really was afraid of users picking the middle answer because some of my statement were slightly vague. I tried to make it in the style of a cultural probe in that the statements were not very intrusive and i tried not to make it so obvious what i was asking about.
    
  <iframe class="survey" src="https://docs.google.com/forms/d/e/1FAIpQLScb3gLYQ3ShlS9mtMBTy4SQDl2ULcAIG0uULeI4mbqUq0FvhA/viewform?embedded=true" width="800" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  
  div.dp_par
    p.text For the report and the presentations i have chosen the responses that have influenced my design process the most and i have outlined them below.
    
    div.dp_pics
      img.dp_img(src="../../assets/img/Survey_1.png")
    
    p.text There wasn't much to say about this research finding except the confirmation that people do like to actually ask real human beings for help on certain things.
    
    div.dp_pics
      img.dp_img(src="../../assets/img/Survey_2.png")
    
    p.text This was very interesting to me because it highlighted the interesting disconnect between the preference to ask other people and the habit of reaching for the smartphone or the computer to learn.
    
    p.text I honed in on this rather quickly because i wanted to find out why this was mostly the case. Responders would prefer to ask other people, but eventually they always ended up asking the computer. This became the basis of my research finding and the key informant of my design process.
    
    div.dp_pics
      img.dp_img(src="../../assets/img/Survey_3.png")
    
    p.text This told me that even though there were very strong applications out there that people could use, somehow they weren't using them. I needed to find out why, and how to make my design process avoid the pitfalls that cause users to stay away from others.
    
  div.dp_par
    h2.text_subtitle Vision Statement
    p.text Using the idea of Intelligence Amplification by Vernor Vinge, derived from Artificial Intelligence, use technology to help user access knowledge faster and easier in a more personal way.
    p.text An application that creates an environment that users must contribute to in order to get out of. Create an advanced forum with a system that controls a currency of questions and answers. Users can use the app to submit questions and attach tags and meta data to it Using this metadata the system can pull old responses from similar questions in the database. Live responses are also fed to the user. All this serves to be a barrier or a preferred option before the user defaults to a search engine like google.
    
  div.dp_par
    h2.text_subtitle Stories
    p.text In this section i would like to outline some scenarios that i imagine would be possible with my system. These are important because it gets me thinking specifically about scenarios that are real and can take place. In a way they are sort of like informants because i am informed on the design criteria and concepts and using this knowledge i try and project my ideal scenarios.
    
  div.dp_par
    p.text
      strong Story 1:
      ul.dp_list
        li Crystal has a difficult math problem to solve for next week. She doesn't want to ask her friends for help and her siblings are busy with work of their own.
        li She uses the iQuestion:homework application and takes a picture of the math problem and posts the question.
        li Robert is a guy who loves to challenge himself. He doesn't have much time to go look for puzzlers and problems to solve so he downloaded iQuestion:homework to see if he can help others while entertaining himself at the same time.
        li He sees Crystals  math problem and proceeds to compose his own response to it. After he created his response he looks at the other peoples responses to compare.
        li Crystal reads and likes Robs response and she uses it to help her with her homework.
    p.text 
      strong Story 2:
      ul.dp_list
        li Alex is having car trouble. Every since his drive to his holiday house the other day its been giving him trouble and he cant afford to take it to the mechanic. Besides, he is quite handy and he is sure he can fix it himself.
        li But Alex has no one to turn to for advice on what to do about his car. So using iQuestion:cars he posts a question, with picture and descriptions of the problem and immediately he sees that there were 4 other responses from questions similar to his own question.
        li He reads them and quickly learns how to fix his car.
    p.text These scenarios really outline how my application can be used. Its very important for users to feel like they are being connected with other real people so that they will be able to feel like they are receiving personal responses tailored to them, not just something very general from the internet. The second scenario address the wait time. Other solutions involve waiting a certain amount of time for other internet users to post their responses, however my system takes care of that by identifying key distinctive features of the query and connecting it to others of the same kind and feeding the user the responses. this creates a very immediate and responsive feedback. kind of like a live search engine.
    
    
  div.dp_par
    h2.text_subtitle Ideation and Concept Development
    
    div.dp_pics
      img.dp_img(src="../../assets/img/iQuestion_WB.png")
    
    p.text My first idea that i had involved creating a critical design object. I had ideas that involved a “Sassy Translator”, and a “Smart-ass Watch”. These concepts both involved having some sort of Artificial Intelligence that was reacting with the user in an interesting way. They involved surprising the user with an unexpected reaction that was not the way technology behaved. The Sassy Translator would add slight variations to the phrases you wanted to translate and was smart enough to think contextually about the input and output something that was accurate but with some flavour that was humorous. The “Smart-ass Watch” was meant to be a commentary on the way we simply trust all information into our computers. The watch was supposed to be a way to warn users overtime their computers were asking for sensitive information and a warning against intrusiveness in their computers. This concept would have been interesting and critical but in the end i strayed away from it because i felt it was a little bit on the nose.
    
    p.text Global Translator approaches my final idea a little bit more because it addresses the idea of connecting users with each other using technology. This was key because it was the first time i realised that it was important to connect the users with each other though technology. Users would post phrases that they wanted translated and other users with the required expertise would respond with the correct translations.
    
    p.text Below i will outline each design concept in detail and explain why each one was avoided in favour for my final design.
    
    h2.text_subtitle Sassy Translator
    
    p.text This design was my initial idea for a critical design object. I wanted to play on the idea of a machine that spoke back to its user in an intelligent way. I wanted the harmless mistakes or the puns that computers occasionally make by accident to be more than that. I wanted them to be intentional, deliberate and witty. This would give a more human feeling to our devices because humans by nature are like this. 
    
    p.text The sassy translator would modify your phrase and instead of translating it directly it would actually created nuanced outputs that understood the content and the context of the input and gave the user something that was both accurate but also involved a personality and a lot of humour in it.
    
    p.text I avoided this idea because the protocol that i would need for this is beyond my scope to comprehend. It was a practical decision to stay away from this because i had slight doubts with the actual feasibility of the project. I did not believe that i would be able to execute it in a way that was effective enough to convey what i intended to do.
  
    h2.text_subtitle The Smart*ss Watch
    
    div.dp_pics
      img.dp_img(src="../../assets/img/smartass.jpg")

    p.text This very rough idea was a direction that further played with the critical nature of my design process. I thought about having a watch that payed attention to the way you were using the internet of networked connected services and would buzz and alert you whoever you were in danger of being spied on or having you information stolen.
    p.text I thought this might be an interesting way to interact with our devices. Instead of making them perpetually super intelligent, and display this intelligence all the time, why don’t we allow them to make mistake and more importantly react to their own mistakes. This would make them more human.
    p.text I avoided this idea because infrastructure wise i didn't feel like it would end up working the way i intended. Also i was worried about the actually way i would test this design and i would end up needing to mock a lot of scenarios.
    
    h2.text_subtitle The Global Translator
    p.text This design was supposed to be a way to collectively become smarter. To give users the ability to rely very intuitively on each others skills. This was the first idea that i had that came close to iQuestion. It involved connecting users together so that they can communicated and share information seamlessly.
    
    p.text The global translator worked by having some sort of a game platform where users earn points by translating phrases correctly. The phrases submitted to the system were also user generated. So in the end, both parties were gaining something from the system that was beneficial to them.
    
    p.text I avoided this idea because i felt that there was little incentive and the focus was too small to justify this entire design process. Especially for the problem i was trying to solve it really did not directly relate. so i ended up rethinking this idea.
    
    h2.text_subtitle Bots and Humans
    p.text I had an idea where i wanted to create sort of a search engine or a query application where the user would ask a question that gets pitted to both an AI and other users. There would be slight competition to be critical about who was winning.
    
    p.text I avoided this idea because i realised it was very risky to treat AI as if it were a feature that could easily be tacked on to any technological device.
    
  div.dp_par
    h2.text_subtitle Iteration, Prototyping, and Testing
    
    div.dp_pics
      img.dp_img(src="../../assets/img/Iteration.png")
    
    p.text Creating iterations for this project was interesting because the changes i created were very subtle and had little to do with the flow of the application and more to do with the icons and the locations of the icons.
    
    p.text For my user testing i created a usability test that was task focussed. I had my users use the prototype of my application. I created simple tasks for them to complete and i watched how they completed them and i used their comments to inform my design.
    
    p.text For proving my concept i had to be slight inventive. I couldn’t have a real population of users to respond to my user so i needed to simulate it myself by updating the prototype with mock responses to see if my users would be engaged by them.

  div.dp_par
    h2.text_subtitle Being Critical
    p.text I was fascinated by critical design right around the same time i was exploring these ideas and i wanted to create something that was critical that would cause users to think about AI in everyday things.
    p.text [Edward Snowden Watch]
    p.text Usability Testing for Smartass Object? Prototype of a sarcastic smart chatbot with me behind the one way mirror communicating with the user. The purpose of this is to see how the user would receive this idea.
    
  div.dp_par
    h2.text_subtitle Being Wrong
    p.text The more in depth i got into the understanding of Artificial Intelligence from a practical sense, the more i realised that i came to the understanding of AI from a very superficial sense, much like the people i interviewed, i didn't fully understand the concept of AI. AI is simply an engineering term and its not actually a tangible "feature" or "function" that a device can have. This is where the bulk of my difficulties with my ideas are.

    h1.dp_quote "once something becomes useful enough and common enough it's not labeled AI anymore" 
      light - Nick Bostrom
    
    p.text How can i instil an idea into an application that doesn't exist. The AI of reality is actually different from what we see in movies. Artificial Intelligence can look different to us depending on where we are in time. In several fantasy science fiction books and films this vision for Artificial Intelligence is actually something that once it arrives will seem almost mundane and normal to us.
    
  div.dp_par
    h2.text_subtitle User Centered not Technology Centered
    p.text Up until this point of the design process, i began all my discussions concerned with Artificial Intelligence. This was a fundamental flaw in the way i was thinking. As an advocate for user centric design and empathetic design philosophy, i suddenly realised that i needed to take a huge step back from my project and re-evaluate the problem that i was trying to solve from a human focused approach. Instead of focusing on the technology, i should have been focused more on the user.
    
  div.dp_par
    h2.text_subtitle IA not AI
    p.text In a paper i had read earlier in the process i had com across a very interesting idea proposed by Vernor Vinge, he proposed that instead of Articifail Intelligence, we should be striving to achieve greater Intelligence Amplification, or IA. This satisfied my User centric approach and i went back to the drawing board with this in mind.
    
    p.text [refer to blog]

  div.dp_par
    h2.text_subtitle Back to the Drawing Board
    p.text As a designer being able to leave everything, and disrupt the process and restart from scratch is very important. I saw that my initial premise for this project was fundamentally flawed and i wasn't afraid to cut everything and begin again. I went back to the whiteboard.
    hr
  div.dp_pics
    img.dp_img(src="../../assets/img/iquestion_WB.jpg")
    img.dp_img(src="../../assets/img/iquestion_WB_2.jpg")
    
  div.dp_par
    h2.text_subtitle Asking Questions
    p.text During my intense white boarding sessions, i realised that all the interactions with a perceived AI was usually a question. “Let me google that for you” Users just wanted a thing, that could help them gain knowledge. This got me very interested in the distributed cognition and i referred back to my earlier writings about shared super ego.
    p.text [refer to blog]
      
    
  div.dp_pic_focus
    img.dp_focus(src="../../assets/img/iquestion_detailedjourney.jpg")
    
  div.des_button
    a(href="")
      button.des_cta a button
      
  <iframe class="survey" src="https://docs.google.com/forms/d/e/1FAIpQLScb3gLYQ3ShlS9mtMBTy4SQDl2ULcAIG0uULeI4mbqUq0FvhA/viewform?embedded=true" width="980" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  
  div.dp_par
    h2.text_subtitle hello world
    p.text Learn from fucking criticism. Fuck. Dedicate yourself to lifelong fucking learning. Never, never assume that what you have achieved is fucking good enough. Don’t worry about what other people fucking think. When you design, you have to draw on your own fucking life experiences. If it’s not something you would want to read/look at/use then why fucking bother? Intuition is fucking important. <br><br> Don’t fucking lie to yourself. The graphic designer’s first fucking consideration is always the size and shape of the format, whether for the printed page or for digital display. A good fucking composition is the result of a hierarchy consisting of clearly contrasting elements set with distinct alignments containing irregular intervals of negative space. Remember it’s called the creative process, it’s not the creative fucking moment. Nothing of value comes to you without fucking working at it. You won’t get good at anything by doing it a lot fucking aimlessly. To surpass others is fucking tough, if you only do as you are told you don’t have it in you to succeed. What’s important is the fucking drive to see a project through no matter what. Make your work consistent but not fucking predictable.

  h1.dp_quote “this is a super cool quotation that comes from my super cool text”

  div.dp_desc_pic
    div.dp_pic
      img.img(src="http://quickimage.it/500x500")
    div.dp_text
      h2.text_subtitle Hello World
      p.text Learn from fucking criticism. Fuck. Dedicate yourself to lifelong fucking learning. Never, never assume that what you have achieved is fucking good enough. Don’t worry about what other people fucking think. When you design, you have to draw on your own fucking life experiences. If it’s not something you would want to read/look at/use then why fucking bother? Intuition is fucking important. <br><br> Don’t fucking lie to yourself. The graphic designer’s first fucking consideration is always the size and shape of the format, whether for the printed page or for digital display. A good fucking composition is the result of a hierarchy consisting of clearly contrasting elements set with distinct alignments containing irregular intervals of negative space.
    
  div.dp_par
    h2.text_subtitle hello world
    p.text Learn from fucking criticism. Fuck. Dedicate yourself to lifelong fucking learning. Never, never assume that what you have achieved is fucking good enough. Don’t worry about what other people fucking think. When you design, you have to draw on your own fucking life experiences. If it’s not something you would want to read/look at/use then why fucking bother? Intuition is fucking important. <br><br> Don’t fucking lie to yourself. The graphic designer’s first fucking consideration is always the size and shape of the format, whether for the printed page or for digital display. A good fucking composition is the result of a hierarchy consisting of clearly contrasting elements set with distinct alignments containing irregular intervals of negative space. Remember it’s called the creative process, it’s not the creative fucking moment. Nothing of value comes to you without fucking working at it. You won’t get good at anything by doing it a lot fucking aimlessly. To surpass others is fucking tough, if you only do as you are told you don’t have it in you to succeed. What’s important is the fucking drive to see a project through no matter what. Make your work consistent but not fucking predictable.
