.templateWrap
  // Header for the entire page
  section.section
    h1.header Shattered Communities
    
  div.hero(style="background-image: url(../../assets/img/dp_shattered/2_strings.jpeg)")

  section.section
    h2.header_2 Introduction
    
  section.section
    h2.header_3 Brief

  section.section
    p.par
      strong date:
      light 2015
      <br><br>
      strong role:
      light Interaction Designer, Technical Team, Programmer
      <br><br>
      strong description:
      light  A kinetic installation located in the lobby of the Jockey Club Innovation Tower by Zaha Hadid designed to change the way people pass through the space.
      
  section.section
    h2.header_3 Context
    
  section.section
    p.par This project was given to the entire Masters of Design class of 2015 for Embedded Interaction with Michael Fox. 20 of us were tasked with coming up with an interactive environment design that would make people slow down and appreciate the space they were in, as they were passing through the gorgeous design building. We had roughly a month from start to finish to put the entire thing together. We were mostly self-organized.
    
  section.section
    div.diagram
      img.picGal.flexerWidth(src="../../assets/img/dp_shattered/lobby.jpg")
      
  section.section
    h2.header_2 Design
    
  section.section
    p.par We split up into 5 teams of 4 for our ideation stage. We all had floor plans of the entire building and we all agreed to come up with a proposal for the lobby. Under the guidance of Michael Fox, we iterated through a few ideas and came up with a presentation. We created a small mock prototype and presented it to the whole class.
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/1_geometric.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/2_strings_s.jpg")
    
  section.section
    p.par After we presented, we had a vote among the entire class and we used that to decide which project we were going to work on. In the end, two projects came out on top and we decided to merge the two.
    
  section.section
    p.par One was this interesting wall pattern that involved multiple panels that moved individually to create an interesting pattern for the people walking by and the other was a cool string installation that would expand to fill up whatever space it was in.
    
  section.section
    p.par We very quickly decided to make the final project a combination of the two ideas and we split up into job specific teams very quickly.

  section.section
    h2.header_3 String Team
    
  section.section
    p.par The string team was responsible for building the strings for the installation. They had a difficult task, The had to figure out several things, such as the material for the strings and how we were going to measure out how much we needed and how were going to mount everything.
    
  section.section
    h2.header_3 Wall Team
    
  section.section
    p.par The wall team was responsible mainly for creating the patterns that were going to be laser cut for the final illusion. They had to come up with several prototypes to show the rest of the class. When they settled on a few, the challenge became how they were going to laser cut everything at a smaller scale and assemble it for the final piece.
    
  section.section
    h2.header_3 Wood Team
    
  section.section
    p.par This team was responsible for building the large wooden walls. They were responsible, not only for the cutting of all the wood and the assembly of everything, but also the logistics of how we were going to transport everything to our lobby and ensure the safety of the final structure.
    
  section.section
    h2.header_3 Tech Team
    
  section.section
    p.par This team was responsible for all the mechanical parts of the wall. If anything needed to move automatically, or if there were sensors that needed to be programmed, or motors controlled, this team was responsible for it. The tech team worked very closely with the Wood Team to make sure that everything worked together structurally. This was the team that I was a part of. Although I worked closely with the Wood Team as well.
    
  section.section
    h2.header_3 Documentary Team
    
  section.section
    p.par The documentary team is the reason this article is possible. With how quickly everything was going, we needed to have some people responsible for documenting everything. However, they did more than just document everything, they sort of kept track of where everyone was and were responsible for calling cross team meetings organized to make sure everyone was on the same page.
    
  div.diagram
    img.picLong(src="../../assets/img/dp_shattered/3_Planning.jpg")
      
  section.section
    p.par This article contains photographs from the creation process as well as a little bit of documentation and explanation of our design process.
    
  section.section
    p.par It was hard to combine the string and wall ideas together at first, we roughly came up with 3 ideas:

  section.section
    ol.secListNum
      li
        span.ol Use wide bandage and put the pattern on it, illusion would be created when bandage move
      li 
        span.ol Use string to make pattern instead of using laser cut MDF panels
      li  
        span.ol Put pattern and interaction on the wall, and connect string with the movable wall
    
    
  section.section.flexMod
    img.pic.wrangle.flexerHeight(src="../../assets/img/dp_shattered/5_Strings.jpg")
    p.par.parModL The string group made a simple model to test the effect of idea number two and found it was not doable to use only string to form the illusion effect pattern. <br> So, we basically confirmed our direction was the third idea and started to work on it together. By the end of the day, we had the first version of a physical model. At the same time, the pattern group designed two patterns that can create wonderful illusion effect.
    
  section.section
    div.diagram
      img.picLong.flexer(src="../../assets/img/dp_shattered/7_modelbuilding.jpg")
      
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/10_Pattern.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/11_String.jpg")
    
  section.section  
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_shattered/13_MeTechnical.jpeg")
      
  section.section
    p.par As part of the technical team, I thought a lot about the inner workings of how the wall would work. We had to conceptualize a lot of the mechanical parts before we actually built it because we didn’t have much room to iterate. We were developing this at breakneck speed, so we had to whiteboard a lot of our idea. Several discussions were had and we went through a lot of versions.
  
  section.section
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_shattered/15_DailyMeeting.jpeg")
      
  section.section
    p.par Communication was an essential part of the success of this project. With such a big project that had so many moving parts and so many people, we had to keep track of everything. I remember realizing that there was a slight misunderstanding between the group members that had the potential to lead to big problems if we continued without proper communication. I called for a meeting that had to have at least one member of each team so that we could iron out some of the discrepancies.

    
  section.section
    p.par Going forward we began having these meetings a lot more frequently. We also decided not to assume, but to ask. If we were going to make a decision, we would make sure everyone was on board and knew what the decision would be. This was essential.
  
  section.section  
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/17_Technical.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/18_TechnicalWall.jpeg")
  
  section.section    
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/19_Panels.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/20_SlidingWall.jpeg")
      
  section.section
    p.par One of the biggest challenges I had on the technical team was how to make the internal wall slide easily. After walking for hours on Hong Kong Reclamation Street, I found what I believed to be a good solution. I brought this back to the studio and showed it to my classmates. What we didn’t realize was that this solution was not designed to withstand heavy weights and with the full weight of our wall, the friction would be too great for the wall to slide elegantly.
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/23_WallWheel.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/24_WallWheel.jpeg")
      
  section.section
    p.par We eventually decided to put the internal wall on wheels. Simple wheels. I love simple solutions. This worked beautifully because the internal wall was essentially on a track, and having it propped on a wheel greatly decreased the friction so we could essentially attach a motor and have the walls movement controlled by the audience.
  
  section.section  
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_shattered/25_WallBuilding.jpeg")
      
  section.section
    p.par When one wall worked, it was time to build all the others!
  
  section.section  
    div.diagram
      img.picGal.flexerWidth(src="../../assets/img/dp_shattered/26_Laser.jpeg")
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/55_Coding.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/39_Sensors.jpeg")
      
  section.section
    p.par On the tech team, after the wall was essentially under construction and the design was finished in the sense that the major mechanical components were set and weren’t going to change much anymore, we buckled down and started coding interaction with Arduino and some cool sensors.
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/28_Motor.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/29_Lights.jpeg")
      
  section.section
    p.par This is the push pull motor that we had moving the internal wall. We also put LEDs in it because why not.
  
  section.section  
    div.diagram
      img.picLong.flexerHeight(src="../../assets/img/dp_shattered/31_BetterModel.jpeg")
      img.picLong.flexerHeight(src="../../assets/img/dp_shattered/36_FullWall.jpeg")
    
  section.section  
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/34_Wood.jpeg")
      img.picGal.flexerHeight(src="../../assets/img/dp_shattered/35_Hammer.jpeg")
      
  section.section
    p.par It was pretty awesome to go downstairs and see a fully assembled wall.
    
  section.section
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_shattered/41_WallMotorCode.jpeg")
      
  section.section
    div.diagram
      video.video(width="980", height="480", autoplay loop muted)
        source(src="../../assets/img/dp_shattered/44_WallBounce.mp4", type="video/mp4")
        
  section.section
    p.par We had a click button at the end of the push motor that basically made itself bounce back. It was a very simple solution to our problem. It worked very elegantly.
  
  section.section  
    div.diagram
      img.picGal.flexerWidth(src="../../assets/img/dp_shattered/47_String.jpeg")
  
  section.section        
    div.diagram
      img.picLong.flexerHeight(src="../../assets/img/dp_shattered/49_PortableLift.jpeg")
      img.picLong.flexerHeight(src="../../assets/img/dp_shattered/53_StringIsUp.jpeg")
  
  section.section    
    div.diagram
      img.picLong.flexerHeight(src="../../assets/img/dp_shattered/50_Wall.jpeg")
      img.picLong.flexerHeight(src="../../assets/img/dp_shattered/51_Wall.jpeg")
      
      
  section.section
    p.par When we finally put the strings up it was such a different experience to actually walk through what we had initially modelled.
  
  section.section  
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_shattered/57_Construction.jpeg")
      
  #end
    
  section.section
    h2.header_2 Reflection and Learnings
    
  section.section
    h2.header_3 Challenges:
    
  section.section
    ul.secList.snug
      li
        span The size of the team was enormous (20). I had never worked in such a large team before. I learned a lot because of it. A key point in the planning stage was when some of us in the larger group realised that some of our initial ideas and design directions were not aligning with each other. We called an emergency class meeting where we sat down and put everything on the table for everyone to understand where everyone else was at. This was inevitable because at the planning stage, with so many people working on a project and communication being sure an importable element in success in this environment we were bound to have communication issues at some point. It only takes one misinformed person to derail an entire project, because that person will make design decisions based on the misinformation in their mind. So in the middle of our planning process it was extremely important we kept everyone updated with any changes that might have happened with the final project.
      li 
        span Safety issues because of the large scale of the project. Regrettably the one component that didn’t make it to the opening was the moving strings above the walls. We were busy with other elements of the installation, such as the actual wall interaction, we left the motors and moving strings to the end. A power outage also delayed our progress and we ended up with very little time to for testing and safety. Testing was important the motors were unpredictable and needed calibration. I made a last minute decision to have them turned off for the opening because I believed having the motor lock up while the press and guests were there would be worst than having them just hold the strings. This was a tough decision but I believe I made the right call because safety comes first.

  section.section
    h2.header_3 Final Notes:
    
  section.section  
    p.par For the Shattered Community Kinetic interactive installation we exercised a fantastic amount of collaborative design and team work. The entire MDes Interaction Design group came together to conceptualise, select and eventually realise a project that we had come up with. We deduced what was feasible and likely to accomplish in a three week window and we did the appropriate research for where to get the tools we needed to accomplish what we wanted to create. From the first stages we organised the entire team into smaller groups and compartmentalise what we were going to do. We adopted a loose modular work flow where we had teams but everyone was free to sort of bounce around and work on whatever needed to be done. We were agile and flexible. This worked quite well because while we all had our strong suits, we were all essentially generalists with one focus so we were able to help out where it was needed.
    
  section.section
    p.par Shattered Communities definitely was created with love and care and I believe it was a huge success that all the components came together very well. 
      
  <iframe class="shattered_frame" src="https://player.vimeo.com/video/125572737?color=ff9933&title=0&byline=0&portrait=0" width="980" height="520" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
