.templateWrap
  // Header for the entire page
  section.section
    h1.header Solotouch
  
  section.section  
    div.diagram
      img.picGal.flexerWidth(src="../../assets/img/dp_solotouch/solo.jpg")

  section.section
    h2.header_2 Introduction
    
  section.section
    h2.header_3 Brief

  section.section
    p.par
      strong date:
      light 2013
      <br><br>
      strong role:
      light Research, Interaction Design, Hardware Design, Development, Prototyping
      <br><br>
      strong collaborator:
      light
        a(href="www.jackiechui.com") Jackie Chui
      <br><br>
      strong description:
      light  SoloTouch is a musical instrument designed for novice musicians to play impressive guitar solos. The instrument features a touch controller for playing notes that always sound "right", and an optional iPhone interface to add variety to the music.
      
  section.section
    h2.header_3 Context
    
  section.section
    p.par SoloTouch was a research project developed while at LUME, a research program aimed at creating musical interfaces for individuals with special needs. In this project, I partnered with Jackie Chui to design an instrument for those who lack access to formal musical training.
    
  section.section
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_solotouch/lume.jpg")
      
  section.section
    h2.header_2 Motivation
    
  section.section
    p.par I love music, but without any formal musical training a big part of music is inaccessible to me. Musical Creation. So we set out to develop a way to enjoy playing music without having to learn complex music theories and techniques.
    
  section.section
    p.par We believed that by automating the complexity of music playing, anyone could perform great music with minimum training. We brought it back to being about pure expression, just like beating a drum.
  
  section.section  
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_solotouch/noscore.png")
      
  section.section
    h3.quote By automating the complexity of music playing, anyone could perform great music with minimum training.
    
  section.section
    h2.header_3 Identifying Challenges
    
  section.section
    p.par We began by looking at challenges faced by novice musicians today (Me). Based on some informal interviews, we identified two of the most common difficulties:
    
  section.section
    ul.secList
      li
        span <strong>Note selection</strong> — Difficulty in finding the ‘right notes’ to play.
      li 
        span <strong>Physical control</strong> — Difficulty in handling an instrument. (Finger Dexterity)
        
  section.section
    p.par We believed that a successful instrument should not only be user-friendly, but also expressive; therefore our design goal was to strike a balance between ease of use and expressiveness.
    
  section.section
    h3.quote Our design goal was to strike a balance between ease of use and expressiveness.
    
  section.section
    h2.header_3 Auto-Note Selection
    
  section.section
    p.par <strong>Challenge:</strong> Finding harmonic notes to a song (aka. the ‘right notes’) is difficult as it requires understanding of musical concepts like scales and keys.
    
  section.section
    p.par <strong>Solution:</strong> A software system that automatically selects notes in a scale, so players don’t have to learn them.
    
  section.section
    p.par Using the visual programming tool Max, We experimented with various system concepts before settling on one that allowed players to combine different short phrases into unique melodies.
    
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xnfK-4h73TI" frameborder="0" allowfullscreen></iframe>
  
  section.section
    p.par To easily switch between phrases, My partner also made a (fantastic) controller interface on the iPhone using TouchOSC.
  
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/touchosc.png")
    
  #end
  
  section.section
    h2.header_2 Design
    
  section.section
    p.par <strong>Challenge:</strong> Vibrato — the pulsating change of pitch, is an essential technique used for playing expressive music. However, performing vibrato on traditional instruments can be difficult, especially for beginners.
    
  section.section
    p.par <strong>Solution:</strong> A pivoting touch surface that plays a note on touch and bends its pitch when pushed further, offering an easy gesture for playing vibrato.
  
  section.section
    div.diagram
      img.picGal.flexerWidth(src="../../assets/img/dp_solotouch/sketch.jpg")
      
  section.section
    p.par With my 3D modeling skills, we modeled and printed our first hardware prototype using the school’s newly installed 3D printer.
    
  section.section
    p.par Seeing our design come to life was an unforgettable moment, but it also uncovered engineering problems that did not exist in software. We tackled these problems one at a time across multiple iterations.
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/model.jpg")
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/prototype1.jpg")
      
  section.section
    h3.quote Seeing our design come to life was an unforgettable moment, but it also uncovered engineering problems that did not exist in software.
    
  section.section
    p.par <strong>Problem #1:</strong> Insert both axles into the touch platform required splitting the case into two pieces, which would collapse easily under force.
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/prototype2.jpg")
      
  section.section
    p.par <strong>Solution:</strong> We replaced the axles with a long metal rod, allowing us to design a unibody case. (We spent days looking for such rod, and finally found the perfect one in a toy car.)
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/rod.jpg")
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/rodthrough.jpg")
      
  section.section
    p.par <strong>Problem #2:</strong> We needed a sensor to capture the platform’s rotation, unfortunately our gear + potentiometer mechanism didn’t work so well.
    
  section.section
    div.diagram
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/gear.jpg")
      img.picGal.flexerHeight(src="../../assets/img/dp_solotouch/gear2.jpg")
      
  section.section
    p.par <strong>Solution:</strong> Just before demo day my partner Jackie made a workaround simply by taping a flex sensor underneath the platform and converted its flex angle as input. Surprisingly we've achieved similar results with a much simpler solution. This taught me the key importance of simplicity.
    
  section.section
    div.diagram
      img.picGal.flexer(src="../../assets/img/dp_solotouch/flex.jpg")
      img.picGal.flexer(src="../../assets/img/dp_solotouch/flexaction.gif")
      
  section.section
    h3.quote We’ve achieved similar results with a much simpler solution.
    
  section.section
    h2.header_3 System: Redesigned
    
  section.section
    p.par We received very positive feedback for our hardware but many people found the software too complicated to learn. In response to that, My partner bit the bullet and redesigned the system from scratch.
    
  section.section
    p.par <strong>Challenge:</strong> Advanced players preferred more controls and options, whereas beginners were overwhelmed by options.
    
  section.section
    p.par <strong>Solution:</strong> A beginner-focused system that played basic solos using only the touch controller, with an optional iPhone UI for advanced players to add musical variety. This supported both user groups as well as striking a perfect balance between ease of use and user expressiveness.
    
  section.section
    p.par Finally, we named our instrument the <em>SoloTouch</em>.
    
  <iframe width="560" height="315" src="https://www.youtube.com/embed/IjAtZgy4O8o" frameborder="0" allowfullscreen></iframe>
    
  section.section
    h2.header_3 Outcome
    
  section.section
    p.par SoloTouch was very well received by a broad range of audiences and became a huge success.Our paper on SoloTouch was published by NIME, one of the most renowned music HCI conferences, followed by a trip to Korea for a demo and poster session.
  
  section.section
    div.diagram
      img.picLong.flexerWidth(src="../../assets/img/dp_solotouch/paper.png")
    
  section.section
    h3.quote SoloTouch was very well received by a broad range of audiences and became a huge success.
    
  section.section
    p.par Since then SoloTouch had exhibited in various public events including <strong>Hong Kong Electronics Fair</strong> and <strong>Hong Kong Science Park InnoCarnival</strong>, as well as receiving local press coverage.
    
  section.section
    div.diagram
      img.picGal.flexer(src="../../assets/img/dp_solotouch/carnival.jpg")
      img.picGal.flexer(src="../../assets/img/dp_solotouch/magazine.jpg")
      
  section.section
    p.par Finally, we were sponsored by the university for a <strong>patent</strong> on our design and were approached by companies interested in commercializing our work.
    
  section.section
    h2.header_2 Reflection and Learnings
    
  section.section
    h2.header_3 Challenges:
    
  section.section
    ul.secList.snug
      li
        span Keeping things simple. On this project I was responsible for the hardware design of the device. I really got to flex my 3D modelling and printing skills. I was learning on the fly and iterating a lot. Load of prototypes and test models were made. I came up with elaborate mechanisms in my head only to 3D print them and realise it didnt work quite as well as I had imagined it. One example was the tilt functionality.
      li 
        span Staying grounded. All our initial electronic prototype were plugged into our computer. When we finally implemented the bluetooth module into the Solotouch, our capacitive sensor had an insane amount of noise and it was unusable. We struggled with this for days until we realised it was stable when plugged in. The Solotouch was grounded through our laptop and when we made it wireless it caused a lot of issues. Because we weren't engineers, we came up with a solution to use the user to ground the device, we had a conducting contact that would be in touch with the user easily.

  section.section
    h2.header_3 Final Notes:
    
  section.section  
    p.par This project was awesome. A classic idea coming from the "what-if" question. "What-if we created an algorithm to help us play music without any technical knowledge". We made this project for ourselves because of curiosity and exploration. It just turns out that everyone loved it so much.
    
  section.section
    div.diagram
      video.video(width="980", height="551" controls)
        source(src="../../assets/img/dp_solotouch/SoloTouch-HD.mp4", type="video/mp4")
    
  /////////////////////////////////////////////////////
