.templateWrap
  // Header for the entire page
  section.section
    h1.header Shattered Communities
    
  div.hero(style="background-image: url(../../assets/img/dp_shattered/2_strings.jpeg)")

  section.section
    h2.header_2 Introduction
    
  section.section
    h2.header_3 Brief

  section.section
    p.par
      strong date:
      light 2015
      <br><br>
      strong role:
      light Interaction Designer, User Researcher, Visual Designer
      <br><br>
      strong description:
      light  A concept for redefining the “pay-to-cut” model of skipping past long lines. KarmaQ attempts to introduce a “contribute-to-cut” model to allow people to earn the right to skip lines by contributing to society.

  section.section
    h2.header_3 Context
    
  section.section
    p.par This was a Graduate Studio assignment where we were given the task of coming up with a concept to present in a photo essay. We picked a aspect of Hong Kong contemporary Hong Kong culture and chose to study it. We were interested in how we could change the perception of “queuing” up in Hong Kong.
    
  section.section
    div.diagram
      img.picGal(src="../../assets/img/home/home_karma.png")
      
  section.section
    h2.header_2 Concepts
    
  section.section
    h2.header_3 Design Goal
    
  section.section
    p.par We aim to redistribute the time spent waiting in line to time spent doing social good such as charity work; provide an incentive to do social good and prioritise people who do social good. As the line is a reflection of our social values, we hope to redesign the line and use it as an instrument to influence society.
    
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/KarmaQ016.jpg")

  section.section
    h2.header_3 System
    
  section.section
    p.par We introduced a system called KarmaQ which allows people to accumulate Karma Points by doing social and charitable work. They can then spend Karma Points to get into priority lines for various services i.e. concert tickets. In a way, the time they save by not lining up in a normal line, was spent earlier doing charity work.
    
  section.section
    h2.header_2 Predispositions
    
  section.section
    h2.header_3 Redesigning The Queue
    
  section.section
    p.par The subject matter of this photo essay is the phenomenon of queueing in our culture and how it is a social norm. Our inspiration is sourced from our own experiences. Having lived in large cities including Hong Kong, Taipei and New York, lining up for goods and services is a daily occurrence. We have all experienced first hand the frustrations and boredom from being in line, the excitement when it is almost our turn and the anger when someone violates the social norm and cuts in front of us. As we have lived in different cities, we also discussed the differences in “queuing culture” in different localities. What we aim to do is to investigate and improve upon the social norm of queueing.

  section.section
    h2.header_3 Assumptions
    ol.secListNum
      li
        span.ol Lines should be removed and if not, have its wait time reduced whenever possible. We believe that lining up is a huge waste of time and cause of negative emotions.
      li 
        span.ol Cutting in line is a violation of social norm.
      li  
        span.ol Queueing culture depends on local cultures and customs.
    
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/lines.jpg")
          
  section.section
    h2.header_2 Insights
    
  section.section
    h2.header_3 Reflection of Society
    
  section.section
    p.par The queue reflects the basic equalitariumsim of our culture. In the democratic society, the social norm of the line is regarded as a democratic virtue and it is served without reference to the rank they hold in their occupational group. The rich and poor alike are accorded equal opportunity to buy and be waited upon in the order of arrival. However the existence of the priority line also reflects the capitalistic aspect of our society. The rich can pay to legally jump a queue.
    
  section.section
    h2.header_3 Perception Management
  
  section.section
    p.par Our assumption that decreasing queue times is always right was not exactly correct. In the case of Houston airport, passengers complained about lengthy baggage delays after disembarking. The decrease of baggage handling time to 7 minutes still did not solve the problem. What was discovered was the passengers who complained were priority passengers who paid more to get off the airplane first. They were unhappy as they saw people who disembarked after them leave the airport before them, even though those people only had hand carry luggage and possessed no check in luggage. The solution was to place the luggage carousel much further away so that the walking time to it increased from 1 minute to 6 minutes. The passengers now perceived the wait time to be only 1 minute due to this deliberate ‘delay insertion’ and are satisfied.
    
  section.section
    h2.header_3 Making queue time useful
    
  section.section
    p.par This insight is a form of perception management. When people could make use of their time in queues, then the time spent waiting is considered no longer waited, hence less negative feelings are generated. With smartphones, people could work and answer emails while waiting, their perceived wait time will be much shorter respectively.
    
  section.section
    h2.header_2 Research
    
  section.section
    h2.header_3 Slips and Skips
    
  section.section
    p.par “Imagine you join a queue at time zero. Another individual joins the queue some time later, but enters service before you. You have been victimized by a slip… From the point of view of the second arriving customer, he has skipped over you.” (Larson). Slips and skips can occur within the queue, within the service or both. “If B skips over A in queue but A leaves service before B, then because of B, A has experienced a slip in queue, a skip in service and neither a slip nor a skip for the entire system” (Larson). Slips are always a source of negative emotions, and skips are a source of positive emotions.
    
  section.section
    h2.header_3 Environment
    
  section.section
    p.par A redesign of the environment can sometimes alleviate the negative emotions associated with queueing. The Manhattan Savings Bank in New York offers live entertainment in the form of music provided by pianists and organists. “Customers no longer dread going to the bank and waiting in line to execute their financial transactions: they view the time they spend in the lobby as a positive and usually entertaining experience.” (Larson)
    
  section.section
    h2.header_2 Design
    
  section.section
    p.par We created a system where users earned KarmaQ points by doing charitable work at another time. Companies would partner with KarmaQ and provide special lines for people who have accumulated these points. Companies can use this system as their “social responsibility” and users can have a way of being rewarded by giving back to the society.
    
  section.section
    h2.header_3 Scenario Storyboard
    
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/storyboard.png")
  
  section.section
    p.par We created a storyboard to play out how our concept would work in theory, this help us a great deal but in order to help visualise our idea we also designed a behavioural prototype.
    
  section.section
    h2.header_3 Behavioural Prototype
    
  section.section
    p.par One morning we set up a prototype with our classmates to act out our concept and see how it would work.
    
  section.section
    div.diagram
      img.picGal(src="../../assets/img/dp_karma/experiment.png")
      
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/BP_2.png")
    
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/BP_3.png")
      
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/BP_4.png")
      
  section.section
    h2.header_3 Design Mockups
    
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/karmaCard.jpg")
      
  section.section
    div.diagram
      img.picGal(src="../../assets/img/dp_karma/K_1.jpg")
      img.picGal(src="../../assets/img/dp_karma/K_2.jpg")
      img.picGal(src="../../assets/img/dp_karma/K_3.jpg")
      
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/sign.jpg")
      
  section.section
    div.diagram
      img.picLong(src="../../assets/img/dp_karma/swipe.jpg")
