div.intro_header
  
  a(href="/index.html")
    div.intro_logo
      include ../assets/img/svgs/mm2.svg
  
  a(href="/index.html")
    div.profile_pic
  
  div.yellow
  div.stripe
    div.color_3
    div.color_1
    div.color_2
    div.color_3
    div.color_1
    div.color_2
    div.color_3
    div.color_1
    div.color_2
    div.color_3
    div.color_1
    div.color_2

.templateWrap.push
  section.section
    p.par.middle <br><br>Hey there! I’m Mubarak Marafa, a Nigerian Interaction Designer from Hong Kong. I’ve got a Masters in Design for Interaction Design and studied Creative Media. 
  
  section.section
    p.par.middle Here are some buzzwords that define me:
    
  section.section
    p.par.middle <em>Design Thinking, User Centric Design, Empathetic Design, Stories, Design Collaboration, Design+Code, Front-End Web Development, 3D Graphics, Motion Graphics, Animation, Maker, Quick Study, Passionate, Team Player, Communicator, Adaptive, Play, Fun, ...Lots of Fun</em>
    
  section.section
    h2.header_2 i design
    
  section.section
    p.par.middle I am a Designer with user needs at the center of my focus. Empathy is important to me and this reflects in my design thinking. I’m a wizard with a white board and exercise a holistic approach to my design process, from research to paper prototypes and mockups, to coded high fidelity prototypes.
    
  section.section
    h2.header_2 i code
    
  section.section
    p.par.middle Due to my background in Critical Intermedia Labs during my years in Creative Media, I am indeed proficient in coding (HTML5/CSS3/JavaScript, Python). These were mostly self-taught during projects that I needed them in. It doesn't stop, I’m constantly leveling up my skills as both a programmer and a designer. Being a quick study comes in handy when I need to learn a new tool for a project.
    
  section.section
    h2.header_2 i make
    
  section.section
    p.par.middle From a young age, I’ve always loved pulling apart my toys and putting them back together again. I have built rapid prototypes with 3D printing and know how to work with Arduino and Raspberry Pi (I can solder like nobodies business). These have been reflected in the projects I’ve worked on in the past.
    
  section.section
    h2.header_3.middle Check out this short video of me talking about things that matter to me. <!--<i class="em em-smile"></i>-->
  
  section.section  
    <iframe class="scm_video" src="https://player.vimeo.com/video/77117537?color=ff9933" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
  section.section
    h2.header_3.middle Hit me up!
    
  section.intro_contact
    a(href="https://www.facebook.com/mubarakmarafaixd" target="_blank")
      div.contactFacebook
        include ../assets/img/svgs/c_face.svg
    a(href="mailto:mubarakmarafa@me.com")
      div.contactEmail
        include ../assets/img/svgs/c_mail.svg
    a(href="https://hk.linkedin.com/in/mubarakmarafa" target="_blank")
      div.contactIn
        include ../assets/img/svgs/c_ind.svg
    a(href="tel:+85260718550")
      div.contactPhone
        include ../assets/img/svgs/c_phone.svg

  
