.templateWrap
  // Header for the entire page
  section.section
    h1.header Header
  
  //The stuff of heroes  
  div.hero

  section.section
    h2.header_2 Header 2
    
  section.section
    h2.header_3 Header 3
    
  // Single Paragraph Section
  section.section
    p.par Lorem ipsum dolor sit amet, vis expetenda efficiantur no, ex his eripuit expetendis, nam ex nostrum rationibus interesset. Cu soleat alienum intellegebat ius, sit et soluta nominavi repudiare, cu hinc magna per. Cu iudico gloriatur ius, mea ne tota dicta minim. Id mel illud scripserit, atqui reprimique deterruisset ne usu. Porro nominati vituperata mei at, ne his facete recteque constituto.
  
  // Picture Stuff
  // 3 Pictures
  section.section
    div.diagram
      img.picGal(src="https://unsplash.it/490")
      img.picGal(src="https://unsplash.it/490")
      img.picGal(src="https://unsplash.it/490")
  // 1 Picture
  section.section
    div.diagram
      img.picLong(src="https://unsplash.it/980/490")
      
  //Paragraph with picture right
  section.section.flexMod
    p.par.parModR Lorem ipsum dolor sit amet, vis expetenda efficiantur no, ex his eripuit expetendis, nam ex nostrum rationibus interesset. Cu soleat alienum intellegebat ius, sit et soluta nominavi repudiare, cu hinc magna per. Lorem ipsum dolor sit amet, vis expetenda efficiantur no, ex his eripuit expetendis, nam ex nostrum rationibus interesset. Cu soleat alienum intellegebat ius, sit et soluta nominavi repudiare, cu hinc magna per. Cu iudico gloriatur ius, mea ne tota dicta minim. 
    img.pic(src="https://unsplash.it/490")
    
  // Stray Paragraph
  section.section
    p.par Lorem ipsum dolor sit amet, vis expetenda efficiantur no, ex his eripuit expetendis, nam ex nostrum rationibus interesset. Cu soleat alienum intellegebat ius, sit et soluta nominavi repudiare, cu hinc magna per. Cu iudico gloriatur ius, mea ne tota dicta minim. Id mel illud scripserit, atqui reprimique deterruisset ne usu. Porro nominati vituperata mei at, ne his facete recteque constituto.
    
  //Paragraph with picture left
  section.section.flexMod
    img.pic(src="https://unsplash.it/490")
    p.par.parModL Lorem ipsum dolor sit amet, vis expetenda efficiantur no, ex his eripuit expetendis, nam ex nostrum rationibus interesset. Cu soleat alienum intellegebat ius, sit et soluta nominavi repudiare, cu hinc magna per. Lorem ipsum dolor sit amet, vis expetenda efficiantur no, ex his eripuit expetendis, nam ex nostrum rationibus interesset. Cu soleat alienum intellegebat ius, sit et soluta nominavi repudiare, cu hinc magna per. Cu iudico gloriatur ius, mea ne tota dicta minim. 
    
  //Quotation
  section.section
    h3:before
    h3.quote "quotation of awesome stuff" <br> - by cool peeps -
  
  //Bullets and Lists
  section.section
    h2.header_3 Header 3
    ul.secList
      li
        span Hi!
      li 
        span This
      li  
        span Is
      li  
        span A
      li  
        span Dope
      li  
        span List
      
    ol.secListNum
      li
        span.ol And
      li 
        span.ol This
      li  
        span.ol Is A
      li  
        span.ol Numbered
      li  
        span.ol Dope
      li  
        span.ol List
