doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title m.m - Auroral Spectrum
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Lora")
    link(rel="shortcut icon", href="/favicon.ico")
    
  body
    
    include parts/sections/alt_flex_heading
    include parts/dp_aurora
    //include parts/scroll
    //include parts/scroll
    //include parts/scroll
    

  script(src="assets/js/jquery-3.1.1.min.js")
  script(src="assets/js/jquery-ui.js")
  script(src="assets/js/inview.js")
  script(src="assets/js/jquery-scrollto/lib/jquery-scrollto.js")
  script(src="assets/js/functions.js")
