.grid_hold
  ul.work_wrapper
    li.items
      img(src="https://unsplash.it/500")
    li.items
      img(src="https://unsplash.it/500")
    li.items
      img(src="https://unsplash.it/500")
    li.items
      img(src="https://unsplash.it/500")
    li.items
      img(src="https://unsplash.it/500")
    li.empty

    
