div.Anchor
div.alt_navigation_bar
  a(href="#end")
    div.tldr_link
      div.tldr
        include ../../assets/img/svgs/tldr_1.svg
  
  div.navigation_items
    div.vnav_logo
      include ../../assets/img/svgs/mm.svg
    div.nav_main
      div.vbtnWork
        a.nav1(href="/#work_container") work
      div.vbtnSocial
        a.nav2(href="/#social_container") social
      div.vbtnContact
        a.nav3(href="/#contact_container") contact
    div.nav_email
      div.vbtnEmail
        a.nav4(href="mailto:mubarakmarafa@me.com") + email
