#contact_container
  //- div.stripe
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
    
  
  div.home_title
    h2.header_2 and, can be reached by...
    
div.back_alt
  .card_container
    a.contactFacebook(href="https://www.facebook.com/mubarakmarafaixd" target="_blank")
      .card.cflex(style="background-color: #FEC845")
        include ../../assets/img/svgs/c_face.svg
    
    a.contactEmail(href="mailto:mubarakmarafa@me.com")
      .card.cflex(style="background-color: #FEC845")
        include ../../assets/img/svgs/c_mail.svg

    a.contactIn(href="https://hk.linkedin.com/in/mubarakmarafa" target="_blank")
      .card.cflex(style="background-color: #FEC845")
        include ../../assets/img/svgs/c_ind.svg
    
    a.contactPhone(href="tel:+85260718550")
      .card.cflex.responsiveCard(style="background-color: #FEC845")
        include ../../assets/img/svgs/c_phone.svg
  
div.buffer
