#contact_container
  div.contact_bgContain
    div.contact_overlay
      div.title_hold
        h1.contact_title and, can be reached by...


div.contact_me
  a.contactFacebook(href="https://www.facebook.com/mubarakmarafaixd" target="_blank")
    include ../../assets/img/svgs/c_face.svg
  a.contactEmail(href="mailto:mubarakmarafa@me.com")
    include ../../assets/img/svgs/c_mail.svg
  a.contactIn(href="https://hk.linkedin.com/in/mubarakmarafa" target="_blank")
    include ../../assets/img/svgs/c_ind.svg
  a.contactPhone(href="tel:+85260718550")
    include ../../assets/img/svgs/c_phone.svg



//- a(href="https://www.facebook.com/mubarakmarafaixd" target="_blank")
//-   div.contactFacebook
//-     include ../assets/img/svgs/c_face.svg
//- a(href="mailto:mubarakmarafa@me.com")
//-   div.contactEmail
//-     include ../assets/img/svgs/c_mail.svg
//- a(href="https://hk.linkedin.com/in/mubarakmarafa" target="_blank")
//-   div.contactIn
//-     include ../assets/img/svgs/c_ind.svg
//- a(href="tel:+85260718550")
//-   div.contactPhone
//-     include ../assets/img/svgs/c_phone.svg
