#contact_container
  div.contact_bgContain
    div.contact_overlay
      div.title_hold
        h1.contact_title can be reached by...


div.contact_me
  div.contactFacebook
    include ../../assets/img/svgs/facebook.svg
  div.contactEmail
    include ../../assets/img/svgs/mail.svg
  div.contactPhone
    include ../../assets/img/svgs/phone.svg
