#contact_container
  div.contact_bgContain
    div.contact_overlay
      div.title_hold
        h1.contact_title and, can be reached by...


div.contact_me
  div.contactFacebook
    include ../../assets/img/svgs/c_face.svg
  div.contactEmail
    include ../../assets/img/svgs/c_mail.svg
  div.contactIn
    include ../../assets/img/svgs/c_ind.svg
  div.contactPhone
    include ../../assets/img/svgs/c_phone.svg
