div.Anchor
div.navigation_bar
  div.navigation_items
    div.nav_logo
      include ../../assets/img/svgs/mm.svg
    div.nav_main
      div.btnWork
        a.nav1(href="#work_container") work
      div.btnSocial
        a.nav2(href="#social_container") social
      div.btnContact
        a.nav3(href="#contact_container") contact
    div.nav_email
      div.btnEmail
        a.nav4(href="mailto:mubarakmarafa@me.com") + email
