div.Anchor
div.navigation_bar
  div.navigation_items
    div.nav_logo
      include ../../assets/img/mm.svg
      
    div.button_wrap
      button.btnHome
      button.btnWork work
      button.btnSocial social
      button.btnContact contact
      a(href="mailto:mubarakmarafa@me.com")
        button.btnEmail +email
