div.Anchor
div.alt_navigation_bar
  
  div.alt_navigation_items
    div.vnav_logo
      include ../../assets/img/svgs/mm.svg
    div.nav_main
      div.vbtnWork
        a.nav1(href="/#work_container") work
      div.vbtnSocial
        a.nav2(href="/#social_container") social
      div.vbtnContact
        a.nav3(href="/#contact_container") contact
      div.vbtnEmail
        a.nav4(href="intro.html") about me

  div.stripe
    div.color_3
    div.color_1
    div.color_2
    div.color_3
    div.color_1
    div.color_2
    div.color_3
    div.color_1
    div.color_2
    div.color_3
    div.color_1
    div.color_2
