header.landing
  div.land_overlay
    div.flex_landing
      div.centerWrap
        a.card_logo(href="intro.html")
          include ../../assets/img/svgs/mm.svg
        div.card_name
          include ../../assets/img/svgs/mubarakmarafa.svg
        div.card_ixd interaction designer
        div.card_face
          include ../../assets/img/svgs/c_face.svg
        div.card_mail
          include ../../assets/img/svgs/c_mail.svg
        div.card_in
          include ../../assets/img/svgs/c_ind.svg
        div.card_phone
          include ../../assets/img/svgs/c_phone.svg
        a.card_resume(href="CV_New 2.2.pdf" target="_blank")
          div resumé
        a.card_about(href="intro.html")
          div about me
      div.enter_label
        include ../../assets/img/svgs/enter_label_1.svg
      
