header.landing
  div.land_overlay
    div.flex_landing
      div.hold
      div.centerWrap
        div.logo_land
          include ../../assets/img/mm.svg
        div.title
          img.my_title(src="../../assets/img/title.png")
        div.resume_button
          a(href="CV_New 2.2.pdf" target="_blank")
            button.landing_resume resumé
      div.enter
        include ../../assets/img/pointer.svg
    
      
    
