#social_container
  div.social_bgContain
    div.social_overlay
      div.title_hold
        h1.social_title is on...

div.socialBox
  div.youtube
    div.logoContain.right
      include ../../assets/img/play.svg
  div.medium
    div.logoContain
      include ../../assets/img/medium.svg

div.socialBox
  div.instagram
    div.logoContain.right
      include ../../assets/img/insta.svg
  div.dribbble
    div.logoContain
      include ../../assets/img/dribbble.svg
