#social_container
  //- div.stripe
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
    
  
  div.home_title
    h2.header_2 He posts stuff on...
    
div.back_alt
  .card_container
    .card.cflex.nullPoint(style="background-color: #E62017")
      include ../../assets/img/svgs/play.svg
      div.soon ...soon
    
    a(href="https://medium.com/@mubarakmarafa" target="_blank")
      .card.cflex(style="background-color: #01B875")
        include ../../assets/img/svgs/medium.svg

    a(href="http://www.behance.net/mubarakmarafa" target="_blank")
      .card.cflex(style="background-color: #005CFF")
        include ../../assets/img/svgs/be.svg
    
    a(href="https://www.instagram.com/mobyfreerunner/" target="_blank")
      .S_card.cflex
        include ../../assets/img/svgs/insta.svg
    
    .ghostCard
    
    .ghostCard
  
