#social_container
  div.social_bgContain
    div.social_overlay
      div.title_hold
        h1.social_title is posting stuff on...

  div.socialBox
    div.youtube
      div.logoContain.right
        include ../../assets/img/svgs/play.svg
    div.medium
      div.logoContain
        include ../../assets/img/svgs/medium.svg
    div.social_announce
      h1.coming_soon coming soon
      h1.promise ... I promise <i class="em em-wink"></i>

  div.socialBox
    div.instagram
      div.logoContain.right
        include ../../assets/img/svgs/insta.svg
    div.behance
      div.logoContain
        include ../../assets/img/svgs/be.svg
