#work_container
  div.work_bgContain
    div.work_overlay
      div.title_hold
        h1.work_title has worked on...

  div.container.one
    div.proj_img.ione.swap
      img.img(src="../../assets/img/home_iquestion.png")
    div.proj_des
      div.des_title 
        h2.des_title_1 
      div.des_body 
        h2.desc_bod
          strong.desc_light iQuestion, <br>
          light an application that connect users to each other so that they will be able to exchange knowledge, as currency.
      div.des_button
        a(href="iquestion.html")
          button.des_cta design process

  div.back_alt      
    div.container.two
      div.proj_img.itwo
        img.img(src="../../assets/img/home_karma.png")
      div.proj_des
        div.des_title 
          h2.des_title_1
        div.des_body 
          h2.desc_bod  
            strong.desc_light KarmaQ, <br>
            light a conceptual system designed to change add value to the time spent waiting in lines by making it worth something.
        div.des_button
          button.des_cta coming soon
          
  div.container.three
    div.proj_img.ithree.swap
      img.img(src="../../assets/img/Shattered-Communities.jpg")
    div.proj_des
      div.des_title 
        h2.des_title_1 
      div.des_body 
        h2.desc_bod 
          strong.desc_light Shattered Communities, <br>
          light a collaborative effort with a large team to alter the way people pass through the lobby of the Jockey Club Innovation Tower -Hadid.
      div.des_button
        button.des_cta coming soon

  div.back_alt      
    div.container.four
      div.proj_img.ifour
        img.img(src="../../assets/img/Aurora.png")
      div.proj_des
        div.des_title 
          h2.des_title_1
        div.des_body 
          h2.desc_bod 
            strong.desc_light Auroral Spectrum, <br>
            light an immersive 3D visualisation that compares the most light polluted place on earth with the least.
        div.des_button
          button.des_cta coming soon
          
  div.container.five
    div.proj_img.ifive.swap
      img.img(src="../../assets/img/solotouch_cover.jpg")
    div.proj_des
      div.des_title 
        h2.des_title_1
      div.des_body 
        h2.desc_bod 
          strong.desc_light Solotouch, <br>
          light an instrument combining an intuitive hardware controller with intelligent software to allow anyone play rocking guitar solos without any musical training.
      div.des_button
        button.des_cta coming soon

  div.work_cta
    button.allWork all work
