#work_container
  div.work_bgContain
    div.work_overlay
      div.title_hold
        h1.work_title Mubarak has worked on...

  div.container.one
    div.proj_img.ione.swap
      img.img(src="../../assets/img/home/home_iquestion.png")
    div.proj_des
      div.des_title 
        h2.des_title_1 
      div.des_body 
        h2.desc_bod.align_right
          strong.desc_light iQuestion, <br>
          light.desc_serif an application that connect users to each other so that they will be able to exchange knowledge, as currency.
      div.des_button
        a(href="iquestion.html")
          button.des_cta design process

  div.back_alt      
    div.container.two
      div.proj_img.itwo
        img.img(src="../../assets/img/home/home_karma.png")
      div.proj_des
        div.des_title 
          h2.des_title_1
        div.des_body 
          h2.desc_bod  
            strong.desc_light KarmaQ, <br>
            light.desc_serif a conceptual system designed to change add value to the time spent waiting in lines by making it worth something.
        div.des_button
          a(href="karmaq.html")
            button.des_cta design process
          
  div.container.three
    div.proj_img.ithree.swap
      img.img(src="../../assets/img//home/Shattered-Communities.jpg")
    div.proj_des
      div.des_title 
        h2.des_title_1 
      div.des_body 
        h2.desc_bod.align_right
          strong.desc_light Shattered Communities, <br>
          light.desc_serif a collaborative effort with a large team to alter the way people pass through the lobby of the Jockey Club Innovation Tower -Hadid.
      div.des_button
        a(href="shattered.html")
          button.des_cta design process

  div.back_alt      
    div.container.four
      div.proj_img.ifour
        img.img(src="../../assets/img/home/Aurora.png")
      div.proj_des
        div.des_title 
          h2.des_title_1
        div.des_body 
          h2.desc_bod 
            strong.desc_light Auroral Spectrum, <br>
            light.desc_serif an immersive 3D visualisation that compares the most light polluted place on earth with the least.
        div.des_button
          a(href="aurora.html")
            button.des_cta artist statement
          
  div.container.five
    div.proj_img.ifive.swap
      img.img(src="../../assets/img/home/solotouch_cover.jpg")
    div.proj_des
      div.des_title 
        h2.des_title_1
      div.des_body 
        h2.desc_bod.align_right
          strong.desc_light and The Solotouch, <br>
          light.desc_serif an instrument combining an intuitive hardware controller with intelligent software to allow anyone play rocking guitar solos without any musical training.
      div.des_button
        a(href="solotouch.html")
          button.des_cta design process

  div.work_cta
    a(href="allwork.html")
      button.allWork more work
