/*iPhone 6 Responsive*/

@media (max-width: 375px)
  //Landing
  .landing
    background-image: url(../../assets/img/ios-landing-bg.gif)
    background-size: 100%
    background-position: top center
  .my_logo
    width: 200px
  .flex_landing
    .centerWrap
      transform: translateY(-100px)
      .logo_land
        padding-bottom: 20px
      .my_title
        width: 100%

  .landing_resume
    margin-top: 20px
    width: 250px

  .enter
    width: 100%
    height: 50px
    padding-bottom: 30px
    cursor: pointer
    //background-color: pink
    &:hover
      .my_arrow
        filter: none
        //transform: translateY(5px)
        //fill: #FFBC00

  .my_arrow
    width: 30px
    transform: translateY(-50px)

  //Work Articles
  .work_bgContain
    height: 64px
    //background-image:

  .container
    flex-direction: column

  .swap
    order: 1

  .img
    width: 300px

  .proj_des
    .des_title_1
      margin-top: 0px
        margin-top: 0px
      margin-top: 0px
    .des_body
      .des_body_1
        font-size: 16px
      padding-left: 25px
      padding-right: 25px

  .social_bgContain
    height: 64px
    //background-image:

  .socialBox
    flex-direction: column
    .youtube, .medium, .instagram, .dribbble
      height: 150px
      width: 100%

  .logoContain
    width: auto

  .right
    float: none

  .youtube_logo, .medium_logo, .insta_logo, .dribbble_logo
    transform: scale(0.8)

  .contact_bgContain
    height: 64px
    //background-image:

  .contact_me
    flex-direction: row
    justify-content: space-between

    .contactFacebook, .contactEmail, .contactPhone
      height: auto
      width: calc(100%/3)

    .facebook_logo, .mail_logo, .phone_logo
      transform: scale(0.3)
